SwipeBox/Desktop/SwipeBox.Services.TestHarness/Service References/SwipeBoxServiceReference/SwipeBoxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SwipeBoxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SwipeBoxServices/SwipeBoxService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SwipeBoxServices/SwipeBoxService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SwipeBoxServices/SwipeBoxService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SwipeBox.Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISwipeBoxService_AddMeeting_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMeeting" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_AddMeeting_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_GetClientByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByEmail" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_GetClientByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_AuthorizeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeUser" />
  </wsdl:message>
  <wsdl:message name="ISwipeBoxService_AuthorizeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ISwipeBoxService">
    <wsdl:operation name="AddMeeting">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwipeBoxService/AddMeeting" message="tns:ISwipeBoxService_AddMeeting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwipeBoxService/AddMeetingResponse" message="tns:ISwipeBoxService_AddMeeting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwipeBoxService/GetClientByEmail" message="tns:ISwipeBoxService_GetClientByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwipeBoxService/GetClientByEmailResponse" message="tns:ISwipeBoxService_GetClientByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwipeBoxService/GetAllClients" message="tns:ISwipeBoxService_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwipeBoxService/GetAllClientsResponse" message="tns:ISwipeBoxService_GetAllClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISwipeBoxService/AuthorizeUser" message="tns:ISwipeBoxService_AuthorizeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISwipeBoxService/AuthorizeUserResponse" message="tns:ISwipeBoxService_AuthorizeUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISwipeBoxService" type="tns:ISwipeBoxService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMeeting">
      <soap:operation soapAction="http://tempuri.org/ISwipeBoxService/AddMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientByEmail">
      <soap:operation soapAction="http://tempuri.org/ISwipeBoxService/GetClientByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/ISwipeBoxService/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <soap:operation soapAction="http://tempuri.org/ISwipeBoxService/AuthorizeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwipeBoxService">
    <wsdl:port name="BasicHttpBinding_ISwipeBoxService" binding="tns:BasicHttpBinding_ISwipeBoxService">
      <soap:address location="http://localhost/SwipeBoxServices/SwipeBoxService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>